/* Init */

#app {
  font-size: large;
}

#app input {
  font-size: medium !important;
}

.clearfix {
  clear: both;
}

.block {
  padding-top: 50px;
}

/* Inputs */

.input-block {
  float: left;
  width: 16%;
  text-align: center;
}

.input-block input {
  width: 80%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #dddddd;
}

.input-block input:hover,
.input-block input:focus {
  border-bottom: 4px solid #7fdbff;
  outline: none;
}

.input-block a {
  display: block;
  width: 80%;
  color: inherit;
  text-decoration: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #dddddd;
}

.input-block a:hover {
  border-bottom: 4px solid #7fdbff;
}

/* Table */

table.data {
  width: 100%;
  border-collapse: collapse;
}

table.data tr:nth-child(even) {
  background-color: #F3FAFF;
}

table.data th {
  text-align: left;
}

table.data td {
  text-align: left;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
